#content{
    padding:4vw;
    background-color: rgb(235, 235, 235);
    font-family:'Roboto';
    padding:5vw 0;
    border:2px solid black;
}
h1{
    font-size:2.5em;
    padding:1.5vw;
    text-align:center;
    font-weight:600;
    text-decoration:underline;
}
h3{
    font-size:1.7em;
    padding-left:4vw;
}
p{
    font-size:1.5em;
    margin-left:2vw;
    padding:0.4vw;
} 
.duszpasterze-container{
    border-bottom:1px solid grey;
    margin:1vw;
    padding:1vw;
}

@media screen and (max-width:1024px) {
    #content h1{
        font-size:1.8em;
    }
    #content h3{
        font-size:1.2em;
    }
    #content p{
        font-size:1em;
    }
}	

@media screen and (max-width:800px) {
    .duszpasterze-container{
        margin: 30px 10px;
    }
    #content h1{
        font-size:1.4em;
        margin:2vw;
        margin-bottom:4vw;
    }
    #content h3{
        font-size:1.1em;
        margin-bottom:10px;
    }
    #content p{
        font-size:1em;
    }
    #content{
        padding-bottom:20vw;
    }
}	